@{ 
    Layout = "_Layout";
}
<section id="news">
    <div class="container section-padding">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="section-heading-h2">WiseTime Son xəbərlər</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-4 newsbox">
                <div class="news-item">
                    <a href="#" class="news-img">
                        <img src="https://www.ekaryera.az/adminpage/uploads/1637606288uxdizayn.jpeg" alt="">
                    </a>
                    <div class="news-info">
                        <div class="news-day">
                            <p>07/01/2020</p>
                        </div>
                        <div class="news-item-title">
                            <a href="#!">
                                <h4>UX/ UI dizayn nədir?</h4>
                            </a>
                        </div>
                        <div class="news-item-text">
                            <p>
                                Əvvəlcə UX və UI-ın nə olduğuna baxaq. UX dizaynı "istifadəçi təcrübəsi dizaynı"...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 newsbox">
                <div class="news-item">
                    <a href="#" class="news-img">
                        <img src="https://www.ekaryera.az/adminpage/uploads/1644395117ofismeneceri-vakansiya.png"
                             alt="">
                    </a>
                    <div class="news-info">
                        <div class="news-day">
                            <p>07/01/2020</p>
                        </div>
                        <div class="news-item-title">
                            <a href="">
                                <h4>Necə Ofis meneceri olmaq olar?</h4>
                            </a>
                        </div>
                        <div class="news-item-text">
                            <p>
                                Ofis menecerləri bir sıra inzibati, maliyyə və idarəetmə vəzifələri ilə bir ofisin
                                səmərəli...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 newsbox">
                <div class="news-item">
                    <a href="#!" class="news-img">
                        <img src="https://www.ekaryera.az/adminpage/uploads/1644394360developerolmaq.jpg" alt="">
                    </a>
                    <div class="news-info">
                        <div class="news-day">
                            <p>07/01/2020</p>
                        </div>
                        <div class="news-item-title">
                            <a href="">
                                <h4>Necə Junior Developer olmaq olar?</h4>
                            </a>
                        </div>
                        <div class="news-item-text">
                            <p>
                                Bir veb developer olmaq fikriniz varsa, bəzi bacarıqlara sahib olmalısınız.
                                Seçdiyiniz proqramlaşdır...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 newsbox">
                <div class="news-item">
                    <a href="#" class="news-img">
                        <img src="https://www.ekaryera.az/adminpage/uploads/1644395117ofismeneceri-vakansiya.png"
                             alt="">
                    </a>
                    <div class="news-info">
                        <div class="news-day">
                            <p>07/01/2020</p>
                        </div>
                        <div class="news-item-title">
                            <a href="">
                                <h4>Necə Ofis meneceri olmaq olar?</h4>
                            </a>
                        </div>
                        <div class="news-item-text">
                            <p>
                                Ofis menecerləri bir sıra inzibati, maliyyə və idarəetmə vəzifələri ilə bir ofisin
                                səmərəli...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 newsbox">
                <div class="news-item">
                    <a href="#!" class="news-img">
                        <img src="https://www.ekaryera.az/adminpage/uploads/1644394360developerolmaq.jpg" alt="">
                    </a>
                    <div class="news-info">
                        <div class="news-day">
                            <p>07/01/2020</p>
                        </div>
                        <div class="news-item-title">
                            <a href="">
                                <h4>Necə Junior Developer olmaq olar?</h4>
                            </a>
                        </div>
                        <div class="news-item-text">
                            <p>
                                Bir veb developer olmaq fikriniz varsa, bəzi bacarıqlara sahib olmalısınız.
                                Seçdiyiniz proqramlaşdır...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 newsbox">
                <div class="news-item">
                    <a href="#" class="news-img">
                        <img src="https://www.ekaryera.az/adminpage/uploads/1637606288uxdizayn.jpeg" alt="">
                    </a>
                    <div class="news-info">
                        <div class="news-day">
                            <p>07/01/2020</p>
                        </div>
                        <div class="news-item-title">
                            <a href="#!">
                                <h4>UX/ UI dizayn nədir?</h4>
                            </a>
                        </div>
                        <div class="news-item-text">
                            <p>
                                Əvvəlcə UX və UI-ın nə olduğuna baxaq. UX dizaynı "istifadəçi təcrübəsi dizaynı"...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="bttn-row">
                    <a href="./blog.html">
                        <div class="bttn">
                            <span>Bütün Xəbərlərə Baxın</span>
                            <i class="material-icons"> east</i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>