@{ 
    Layout = "_Layout";
}
<section id="news">
    <div class="container section-padding">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h2 class="section-heading-h2">WiseTime Son xəbərlər</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var item in ViewBag.Posts)
            {
                <div class="col-4 newsbox">
                    <div class="news-item">
                        <a href="#" class="news-img">
                            <img src="/Images/TumbnailImage/@item.TumbnailImage" alt="">
                        </a>
                        <div class="news-info">
                            <div class="news-day">
                                @if (item.CreateDate == item.EditDate)
                                {
                                    <p>@item.CreateDate.ToString("dd-MMM-yyyy")</p>
                                }
                                else
                                {
                                    <p>@item.EditDate.ToString("dd-MMM-yyyy")</p>
                                }
                            </div>
                            <div class="news-item-title">
                                <a href="#!">
                                    <h4>@item.Title</h4>
                                </a>
                            </div>
                            <div class="news-item-text">
                                <p>
                                    @item.Content.Substring(0, item.Content.Substring(0, 130).LastIndexOf(" "))...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <div class="bttn-row">
                    <a href="./blog.html">
                        <div class="bttn">
                            <span>Bütün Xəbərlərə Baxın</span>
                            <i class="material-icons"> east</i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>