@{
    Layout = null;
}
@model WiseTime.Business.DTOs.UserDto

<!doctype html>
<html lang="en">

<head>
    <title>WiseTime | İstifadəçi Qeydiyyatı</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/Manage/img/logo.png" type="image/x-icon">

    <link rel="stylesheet" href="~/Manage/css/register.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    @if (ViewBag.Email != null)
    {
        <div class="alert alert-danger" role="alert">
            @ViewBag.Email

        </div>
        ViewBag.Email = null;
    }
    <div class="register-container">
        <div class="forms-container">
            <form asp-action="Register" asp-controller="Account" method="post" class="sign-up-form">
                <h2 class="title">Qeydiyyat</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="register-input">
                    <label for="Name">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <span class="label-register">Ad</span>
                        <div class="input-field margin-input">
                            <input asp-for="Name" type="text">
                            <span asp-validation-for="Name" class="register-text-danger"></span>
                        </div>
                    </label>
                    <label for="Surname">
                        <i class="fas fa-user" aria-hidden="true"></i>
                        <span class="label-register">Soyad</span>
                        <div class="input-field ">
                            <input asp-for="Surname" type="text" />
                            <span asp-validation-for="Surname" class="register-text-danger"></span>
                        </div>
                    </label>
                </div>
                <div class="register-input">
                    <label for="Phonenumber">
                        <i class="fas fa-phone"></i>
                        <span class="label-register">Telefon Nömrəsi</span>
                        <div class="input-field margin-input">
                            <input asp-for="PhoneNumber" type="text" />
                            <span asp-validation-for="PhoneNumber" class="register-text-danger"></span>
                        </div>
                    </label>
                    <label for="Email">
                        <i class="fas fa-envelope"></i>
                        <span class="label-register">Email</span>
                        <div class="input-field">
                            <input asp-for="Email" type="email" />
                            <span asp-validation-for="Email" class="register-text-danger"></span>
                        </div>
                    </label>
                </div>
                <div class="register-input">
                    <label for="School">
                        <i class="fas fa-school"></i>
                        <span class="label-register">Məktəb</span>
                        <div class="input-field margin-input">
                            <input type="text" asp-for="SchoolName" />
                            <span asp-validation-for="SchoolName" class="register-text-danger"></span>
                        </div>
                    </label>
                    <label for="University">
                        <i class="fas fa-university"></i>
                        <span class="label-register">Universitet</span>
                        <div class="input-field ">
                            <input asp-for="UniversityName" type="text" />
                            <span asp-validation-for="UniversityName" class="register-text-danger"></span>
                        </div>
                    </label>
                </div>
                <div class="register-input">
                    <label for="Fin">
                        <i class="fas fa-id-card"></i>
                        <span class="label-register">Fin</span>
                        <div class="input-field margin-input">
                            <input asp-for="Fin" type="text" />
                            <span asp-validation-for="Fin" class="register-text-danger"></span>
                        </div>
                    </label>
                    <label for="Birthdate">
                        <i class="fas fa-birthday-cake"></i>
                        <span class="label-register">Doğum tarixi</span>
                        <div class="input-field ">
                            <input asp-for="Birthdate" type="date" />
                            <span asp-validation-for="Birthdate" class="register-text-danger"></span>
                        </div>
                    </label>
                </div>
                <div class="register-input">
                    <label for="Gender">
                        <i class="fas fa-venus-mars"></i>
                        <span class="label-register">Cinsiyyət seçin</span>
                        <div class="input-field margin-input">
                            <select asp-for="Gender" id="gender" class="gender">
                                <option value="deafult"></option>
                                <option value="man">Kişi</option>
                                <option value="woman">Qadın</option>
                            </select>
                            <span asp-validation-for="Gender" class="register-text-danger"></span>
                        </div>
                    </label>
                    <label for="Password">
                        <i class="fas fa-lock"></i>
                        <span class="label-register">Şifrə</span>
                        <div class="input-field">
                            <input asp-for="PasswordHash" type="password" />
                            <span asp-validation-for="PasswordHash" class="register-text-danger"></span>
                        </div>
                    </label>
                </div>
                <div class="register-input">
                    <label for="password-again">
                        <i class="fas fa-lock"></i>
                        <span class="label-register">Təkrar Şifrə</span>
                        <div class="input-field">
                            <input type="password" name="Password2" />
                            <span class="register-text-danger"></span>
                            @Html.ValidationMessage("Password2", "", new { @class = "register-text-danger" })
                        </div>
                    </label>
                </div>
                <div class="register-btn">
                    <input type="submit" class="btn-item" value="Qeydiyyat" />
                </div>

                <!--====== Sign up with social platforms start =======-->
                <div class="register-social-content">
                    <p class="social-text">Və ya Sosial platformalarla daxil olun</p>
                </div>
                <div class="register-extra">
                    <div class="social-media">
                        <a href="#!" class="social-icon">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#!" class="social-icon">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#!" class="social-icon">
                            <i class="fab fa-google"></i>
                        </a>
                        <a href="#!" class="social-icon">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
                <!--====== Sign up with social platforms end =======-->
            </form>
        </div>
        <div class="panels-container">

            <!-- Sing Up Content -->
            <div class="panel right-panel">
                <div class="content">
                    <h3>Bizdən birisən ?</h3>
                    <p>Elə isə aşağıdakı "Daxil ol" düyməsinə toxun və saytdan istifadə et!</p>
                    <a href="/Account/Login">
                        <button class="btn-item transparent" id="sign-in-btn"> Daxil ol</button>
                    </a>
                </div>
                <img src="~/Manage/img/logo.png" class="image" alt="Logo">
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>