@model WiseTime.Business.DTOs.UserDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<form asp-action="Register" asp-controller="Manage" class="sign-up-form">
    <h2 class="title">Qeydiyyat</h2>


    <!--====== Sign up Input Start =======-->
    <div class="register-input">
        <div class="input-field margin-input">
            <i class="fas fa-user"></i>
            <input type="text" name="Name" placeholder="Ad" />
        </div>
        <div class="input-field ">
            <i class="fas fa-user"></i>
            <input type="text" name="Surnam" placeholder="Soyad" />
        </div>
    </div>
    <div class="register-input">
        <div class="input-field margin-input">
            <i class="fas fa-phone"></i>
            <input type="text" name="PhoneNumber" placeholder="Telefon Nömrəsi" />
        </div>
        <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" name="Email" placeholder="Email" />
        </div>
    </div>
    <div class="register-input">
        <div class="input-field margin-input">
            <i class="fas fa-school"></i>
            <input type="text" name="School" placeholder="Məktəb" />
        </div>
        <div class="input-field">
            <i class="fas fa-university"></i>
            <input type="text" name="University" placeholder="Universitet" />
        </div>
    </div>
    <div class="register-input">
        <div class="input-field margin-input">
            <i class="fas fa-id-card"></i>
            <input type="text" name="Fin" placeholder="Fin" />
        </div>
        <div class="input-field">
            <i class="fas fa-calendar-alt"></i>
            <input type="datetime-local" name="Birthdate" placeholder="Doğum tarixi" />
        </div>
    </div>
    <div class="register-input">
        <div class="input-field margin-input">
            <i class="fas fa-lock"></i>
            <input type="password" name="Password" placeholder="Şifrə" />
        </div>
        <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" name="Password2" placeholder="Təkrar Şifrə" />
        </div>
    </div>
    <input type="submit" class="btn" value="Qeydiyyat" />
    <!--====== Sign up Input end =======-->
    <!--====== Sign up with social platforms start =======-->
    <p class="social-text">Və ya Sosial platformalarla daxil olun</p>
    <div class="social-media">
        <a href="#!" class="social-icon">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="social-icon">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="social-icon">
            <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="social-icon">
            <i class="fab fa-linkedin-in"></i>
        </a>
    </div>
    <!--====== Sign up with social platforms end =======-->
</form>
